$color0:#1bbc9b;
$color1:#3eb9ff;
$color2:#ff635c;
$color3:#666;
$color4:#999;
$color5:#ff5b6c;
$color6:#333;
$color7:#ff9501;
$color8:#34b234;
$color9:#c184e3;
$color10:#fff;
$color11:#ef3a3a;
$color12:#eff4f7;
$color13:#ff7200;
$color14:#989898;
$color15:#cfae68;
$color16:#282828;
$color17:#cbaa63;
$color18:#2c3242;
$color19:#eecd60;
$color20:#ffe8b4;
$color21:#d5353d;
$color22:#a14330;
$color23:#ff8016;
$color24:#87d34f;
$color25:#ff5500;

