@import "./_color.scss";

// 全局盒子模型设置
*, *:before, *:after {
  box-sizing: border-box;
  /* 在X5新内核Blink中，在排版页面的时候，会主动对字体进行放大，会检测页面中的主字体，当某一块字体在我们的判定规则中，认为字号较小，并且是页面中的主要字体，就会采取主动放大的操作。然而这不是我们想要的，可以采取给最大高度解决 */
  max-height: 100000px;
}

body {
  background-color: #f2f2f2;
  font-family:Helvetica;
  color:$color3;
}
a{
  color:$color6;
}
.clear{
  &:before,
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}
.block{
  display: block;
}
.hide{
  display: none;
}
.mask{
  position: fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background: rgba(0,0,0,.7);
  z-index: 10;
}
.close{
  position: absolute;
  top:0;
  right: 0;
}
.fixed-bg{
  @extend .mask;
}
.fixed-bg{
  background: none;
  z-index: 11;
}
.fixed-bottom{
  position: fixed;
  width:100%;
  bottom:0;
  left:0;
  border-radius: 0;
}
.del{
  text-decoration: line-through;
}
.relative{
  position: relative;
}
.overflow-hidden{
  overflow: hidden;
}

// 均分
.equal {
  flex: 1;
}

// 不换行
.equal-no {
  flex: none;
}

.flex-wrp {
  display: flex;
}
.flex-flow-row{
  flex-flow: row;
  flex-wrap: wrap;
}
.flex-cell{
  flex-direction:column;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.flex-align-center{
  align-items: center;
}
.flex-align-stretch{
  align-items: stretch;
}
.flex-end{
  align-items: flex-end;
}
.flex-middle{
  justify-content:center;
}
.flex-bottom{
  justify-content:flex-end;
}
.flex-item {
  flex: 1;
}
.flex-reverse{
  flex-direction: row-reverse;
}
.flex-between{
  justify-content: space-between;
}
.color0 {
  color: $color0!important;
}
.color1 {
  color: $color1!important;
}
.color2 {
  color: $color2!important;
}
.color3{
  color:$color3!important;
}
.color4{
  color:$color4!important;
}
.color5 {
  color: $color5!important;
}
.color7{
  color:$color7!important;
}
.color23{
  color:$color23!important;
}
.color8{
  color:$color8!important;
}
.color9{
  color:$color9!important;
}
.color10{
  color:$color10!important;
}
.color11{
  color:$color11!important;
}
.color12{
  color:$color12!important;
}
.color13{
  color:$color13!important;
}
.color14{
  color:$color14!important;
}
.color15{
  color:$color15!important;
}
.color16{
  color:$color16!important;
}
.color17{
  color:$color17!important;
}
.color18{
  color:$color18!important;
}
.color19{
  color:$color19!important;
}
.color20{
  color:$color20!important;
}
.color21{
  color:$color21!important;
}
.color22{
  color:$color22!important;
}
.color24{
  color:$color24!important;
}
.color25{
  color:$color25!important;
}
.bg-alpha{
  background-color: rgba(0,0,0,.7);
}

.bg-cover{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.bg-fill{
  @extend .bg-cover;
  background-size:contain;
}
.bg-main{
  background-color: $color0!important;
}
.bg-white{
  background-color:$color10!important;
}
.bg-gray{
  background-color:#f5f5f5!important;
}
.bg-green{
  background-color:#66d263!important;
}
.bg-orange{
  background-color: #ff9e05!important;
}
.bg-deeporange{
  background-color: #ff5500!important;
}
.bg-warn{
  background-color:#faebcc!important;
}
.bg-pink{
  background-color: #ff5b6b!important;
}
.bg-fen{
  background-color:#ffebed!important;
}
.bg-black{
  background-color:black!important;
}
.bg-smoke{
  background-color:#d1d3d9!important;
}
.bg-deepblue{
  background-color:#2c3242!important;
}
.bg-yellow{
  background-color:#eecd60!important;
}
.bg-redpacket{
  background-color:#f99d3a!important;
}
.bg-redpacket2{
  background-color:#e84b30!important;
}
.bg-deepred{
  background-color:#c31313!important;
}
.bg-blue{
  background-color:#0f9df3!important;
}
.bg-red{
  background-color: #f15b43;
}
.bg-deepyellow{
  background-color:#dcbc83!important;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.fr{
  float:right!important;
}
.fl{
  float:left!important;
}
.nbr{
  border:none!important;
}
.nbm{
  border-bottom: none!important;
}
.bl{
  border-left:1px solid #eee;
}
.border,
.border-b{
  border-bottom:1px solid #eee;
}
.border,
.border-t{
  border-top:1px solid #eee;
}
.border,
.border-l{
  border-left:1px solid #eee;
}
.border,
.border-r{
  border-right:1px solid #eee;
}
.border-color1{
  border-color:#e5e5e5!important;
}
.border-color0{
  border-color:#1bbc9b!important;
}
.border-color5{
  border-color:#f50!important;
}
.border-color2{
  border-color:#2c3242!important;
}
.border-radius{
  border-radius:50%;
}
.avatar{
  border-radius: 50%;
}
.text-nowrap{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  width:100%;
}
.lh150{
  line-height: 150%;
}
.nowrap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fixed-center{
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  z-index: 11;
}
.w0{
  width:0;
}
.w100{
  width:100%;
}
.w50{
  width:50%;
}
.fullHeight{
  height:100vh;
}
.z1{
  z-index: 99;
}
.my-img img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 0.2rem;
}

.line12 {
  line-height: 1.5;
}
@for $i from 16 through 82 by 2{
  .size$i{font-size:$(i)px!important;}
}
@for $i from 5 through 50 by 5{
  .pd$(i),.ptb$(i),.pt$(i){padding-top:$(i)px!important;}
  .pd$(i),.ptb$(i),.pb$(i){padding-bottom:$(i)px!important;}
  .pd$(i),.plr$(i),.pl$(i){padding-left:$(i)px!important;}
  .pd$(i),.plr$(i),.pr$(i){padding-right:$(i)px!important;}
  .mg$(i),.mtb$(i),.mt$(i){margin-top:$(i)px!important;}
  .mg$(i),.mtb$(i),.mb$(i){margin-bottom:$(i)px!important;}
  .mg$(i),.mlr$(i),.ml$(i){margin-left:$(i)px;}
  .mg$(i),.mlr$(i),.mr$(i){margin-right:$(i)px!important;}
}
@for $i from 5 through 50 by 5{
  .border-radius$(i){border-radius:$(i)px!important;}
}
@each $size in (30,50,60,70,80,90,100,110,120,150,160,200,400) {
  .img-$(size){width:$(size)px!important;height:$(size)px!important;}
}