.icon {
  font-size: 150px;
}

.lottery {
  padding: 250px 0 30px;
  background: url("https://public.duduapp.net/dolife/static/images/lottery.jpg") #e12c0d no-repeat top center;
  background-size: 100% auto;
}