.tips {
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 10px;
}

.box {
  position: relative;
  border-right: 3px dotted #e1e1e1;
  &:before, &:after {
    width: 20px;
    height: 20px;
    content: '';
    border-radius: 50%;
    background: #f2f3f5;
    position: absolute;
    right: -10px;
  }
  &:before {
    top: -10px;
  }
  &:after {
    bottom: -10px;
  }
}

.height {
  height: 210px;
}

.title {
  height: 85px;
}