.header {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
}

.headerBox {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
}

.border {
  border-color: #f4f4f4;
  border-width: 2px;
}

.creditLabel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-width: 3px;
}

.model {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
}

.button {
  border: 3px solid #fff;
  border-radius: 10px;

}